# Database connection string
DATABASE_URL=postgresql://super_user:daramis@localhost:5432/daramis_db
# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name
# Used to encrypt JWT tokens
PAYLOAD_SECRET=df806553e629c92a75a1cc77
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_PAYLOAD_API_BASE=http://localhost:3000/api
# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE
# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
# Added by Payload
R2_ENDPOINT=https://7d57ae1640ef62a273ce85ebbda65f27.r2.cloudflarestorage.com
R2_BUCKET=daramis-internal-sales-app
R2_ACCESS_KEY_ID=0d429819f7d9abac879a7618cd3c968e
R2_SECRET_ACCESS_KEY=359d840f8dcc654da309df070b1f58784a75c3c03ea75af0989240a1358bfd78
R2_REGION=auto

# Pokud budeš servírovat soubory přes veřejnou URL (doporučeno custom domain):
R2_PUBLIC_BASE_URL=https://media.daramis.cz
# nebo pokud máš povolený r2.dev public access:
# R2_PUBLIC_BASE_URL=https://pub-<hash>.r2.dev